/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp DEL    &kp Q  &kp W  &kp F    &kp P      &kp G      &kp J    &kp L     &kp U      &kp Y    &kp SQT   &kp BSPC
&kp LCTRL  &kp A  &kp R  &kp S    &kp T      &kp D      &kp H    &kp N     &kp E      &kp I    &kp O     &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C    &kp V      &kp B      &kp K    &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp ESC  &kp SPACE  &kp TAB    &kp RET  &kp BSPC  &kp DEL
            >;
        };

        layer_1 {
            bindings = <
&kp  &kp  &kp  &kp  &kp  &kp    &kp      &kp HOME  &kp UP    &kp END    &kp PG_UP  &kp
&kp  &kp  &kp  &kp  &kp  &kp    &kp      &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN  &kp
&kp  &kp  &kp  &kp  &kp  &kp    &kp      &kp       &kp       &kp        &kp        &kp
               &kp  &kp  &kp    &kp RET  &kp BSPC  &kp DEL
            >;
        };

        layer_2 {
            bindings = <
&kp  &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &kp  &kp  &kp  &kp  &kp  &kp
&kp  &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL    &kp  &kp  &kp  &kp  &kp  &kp
&kp  &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH     &kp  &kp  &kp  &kp  &kp  &kp
                        &kp DOT  &kp N0  &kp MINUS    &kp  &kp  &kp
            >;
        };

        layer_3 {
            bindings = <
&kp  &kp  &kp  &kp  &kp  &kp    &kp  &kp           &kp           &kp           &kp           &kp
&kp  &kp  &kp  &kp  &kp  &kp    &kp  &kp           &kp           &kp           &kp           &kp
&kp  &kp  &kp  &kp  &kp  &kp    &kp  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &kp
               &kp  &kp  &kp    &kp  &kp           &kp
            >;
        };
    };
};
