if SHIELD_reviung34_DONGLE

config ZMK_KEYBOARD_NAME
    default "reviung34"

#config ZMK_SPLIT_ROLE_CENTRAL
#    default y

endif

if SHIELD_reviung34_main || SHIELD_reviung34_DONGLE

config ZMK_SPLIT
    default y

endif
