if SHIELD_REVIUNG34_DONGLE

config ZMK_KEYBOARD_NAME
    default "REVIUNG34"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_REVIUNG34_MAIN || SHIELD_REVIUNG34_DONGLE

config ZMK_SPLIT
    default y

endif
